### Visual Studio ###

.vs/
**/.vs/

*.user
*.suo
*.userosscache
*.sln.docstates


### Build outputs ###

bin/
obj/
Debug/
Release/
x64/
x86/


### TwinCAT 3 PLC ###

*.plcproj.bak
*.plcproj.orig

*.tsproj.bak
*.tsproj.b?k
*.tsproj.orig

*.tspproj.bak

*.xti.bak
*.xti.bk?
*.xti.orig

*.xtv
*.xtv.bak
*.xtv.bk?
*.xt?.bk?
*.xt?.orig

*.tpy
*.tclrs
*.library
*.compiled-library
*.compileinfo
*.asm
*.core

LineIDs.dbg
LineIDs.dbg.bak


### TwinCAT temporary files ###

*.tmcRefac
*.bak
*.~u
*.project.~u
*.~*
*.tmp
*.temp


### TwinCAT generated folders ###

**/_Boot/
**/_CompileInfo/
**/_Libraries/
**/_ModuleInstall/
**/_Deployment/
**/_Repository/
**/_Plcs/


### TwinCAT Multiuser ###

**/.TcGit/


### TwinCAT Measurement ###

*.vsm


### Logs ###

*.log


### Windows ###

Thumbs.db
Desktop.ini
# Restored NuGet packages
Packages/
